:root {
  --primary: #69DDFF;
  --secondary: #96CDFF;
  --tertiary: #D8E1FF;
  --lavender: #DBBADD;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  background-image: linear-gradient(to bottom right, var(--primary), var(--lavender));
  font-size: 20px;
  border-bottom: 3px black solid;
}

nav {
  display: flex;
}

nav p {
  margin: 20px;
  padding: 20px;
  cursor: pointer;
  border-radius: 25px;
  font-weight: bold;
}

.active-nav {
  background-color: var(--tertiary);
}

section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--tertiary);
  border-radius: 25px;
  margin: 25px;
  padding: 20px 100px;
  border: 2px solid black;
}

.profile-picture {
  width: 25%;
}

.profile-picture img {
  width: 100%;
  border-radius: 10px;
}

.about-me {
  text-align: center;
  width: 75%;
  padding-left: 40px;
}

.project {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.project img {
  width: 100%;
  margin: 10px;
}

a {
  font-weight: bold;
}

.center {
  text-align: center;
}

footer {
  text-align: center;
}

footer img {
  margin: 20px;
}